[Unit]
Description=Xerxes node gunicorn daemon service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=stanke
ExecStart=/home/stanke/xerxes-node/xerxes-node.sh start

[Install]
WantedBy=multi-user.target