[Unit]
Description=Xerxes node daemon service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=ubuntu
ExecStart=/home/ubuntu/xerxes-node/script/xerxes-node.sh start

[Install]
WantedBy=multi-user.target
