[Unit]
Description=Xerxes node daemon service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=stanke
ExecStart=/home/stanke/xerxes-node/script/xerxes-node.sh start

[Install]
WantedBy=multi-user.target